In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
wine_file = "Resources/wine_data.csv"
wine_df = pd.read_csv(wine_file, encoding ='latin-1')
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OâKeefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [3]:
new_wine_df = wine_df[["Unnamed: 0","country","designation","points", "price", "variety"]].copy()
new_wine_df.head()

,Unnamed: 0,country,designation,points,price,variety
0,0,Italy,VulkÃ Bianco,87,NaN,White Blend
1,1,Portugal,Avidagos,87,15.0,Portuguese Red
2,2,US,NaN,87,14.0,Pinot Gris
3,3,US,Reserve Late Harvest,87,13.0,Riesling
4,4,US,Vintner's Reserve Wild Child Block,87,65.0,Pinot Noir

In [4]:
country_file = "Resources/country_data.csv"
country_df = pd.read_csv(country_file)
country_df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [5]:
new_country_df = country_df[["Country", "Climate"]].copy()
new_country_df.head()

           Country Climate
0     Afghanistan        1
1         Albania        3
2         Algeria        1
3  American Samoa        2
4         Andorra        3

### Transform wine DataFrame

In [6]:
#confirming columns match order of wine table in database
wine_cols = list(new_wine_df)
wine_cols

['Unnamed: 0', 'country', 'designation', 'points', 'price', 'variety']

In [7]:
#rename the column headers
wine_transformed = new_wine_df.rename(columns={'Unnamed: 0': 'id','points': 'score'})

#set index
wine_transformed.set_index("id", inplace=True)

wine_transformed.head()

     country                         designation  score  price         variety
id
0      Italy                       VulkÃ  Bianco     87    NaN     White Blend
1   Portugal                            Avidagos     87   15.0  Portuguese Red
2         US                                 NaN     87   14.0      Pinot Gris
3         US                Reserve Late Harvest     87   13.0        Riesling
4         US  Vintner's Reserve Wild Child Block     87   65.0      Pinot Noir

In [8]:
#rename the column headers
wine_transformed = new_wine_df.rename(columns={'Unnamed: 0': 'id','points': 'score'})

#set index
wine_transformed.set_index("id", inplace=True)

#drop NaN values
wine_transformed = wine_transformed.dropna()

wine_transformed

,country,designation,score,price,variety
id,,,,,
1,Portugal,Avidagos,87,15.0,Portuguese Red
3,US,Reserve Late Harvest,87,13.0,Riesling
4,US,Vintner's Reserve Wild Child Block,87,65.0,Pinot Noir
5,Spain,Ars In Vitro,87,15.0,Tempranillo-Merlot
6,Italy,Belsito,87,16.0,Frappato
8,Germany,Shine,87,12.0,GewÃ¼rztraminer
9,France,Les Natures,87,27.0,Pinot Gris
10,US,Mountain CuvÃ©e,87,19.0,Cabernet Sauvignon
15,Germany,Devon,87,24.0,Riesling
16,Argentina,Felix,87,30.0,Malbec
17,Argentina,Winemaker Selection,87,13.0,Malbec
18,Spain,Vendimia Seleccionada Finca Valdelayegua Singl...,87,28.0,Tempranillo Blend
20,US,Vin de Maison,87,23.0,Red Blend
22,Italy,Ficiligno,87,19.0,White Blend
23,US,Signature Selection,87,22.0,Merlot
24,Italy,Aynat,87,35.0,Nero d'Avola
25,US,King Ridge Vineyard,87,69.0,Pinot Noir
26,Italy,Dalila,87,13.0,White Blend
28,Italy,Mascaria Barricato,87,17.0,Red Blend
33,US,Puma Springs Vineyard,86,50.0,Red Blend
35,US,Hyland,86,50.0,Pinot Noir
36,Chile,Estate,86,15.0,Viognier-Chardonnay
37,Italy,Missoni,86,21.0,Cabernet Sauvignon
38,Italy,I Tratturi,86,11.0,Primitivo
39,Italy,Purato Made With Organic Grapes,86,12.0,Nero d'Avola
42,France,Nouveau,86,9.0,Gamay
45,US,#SocialSecret,86,40.0,Red Blend
46,Italy,Sallier de la Tour,86,13.0,Inzolia
49,France,EtÃ© Indien,86,14.0,Gamay
51,Chile,Gran Reserva,85,22.0,Petit Verdot
...,...,...,...,...,...
129932,Argentina,Pasionado,91,55.0,Red Blend
129933,Austria,Brut,91,46.0,White Blend
129934,Austria,Alte Reben,91,54.0,GrÃ¼ner Veltliner
129936,France,Premier Cru,91,66.0,Pinot Noir
129937,Austria,Langenloiser Berg-Vogelsang,91,32.0,GrÃ¼ner Veltliner
129938,Argentina,Reserve,91,25.0,Malbec
129939,Austria,Grand Vin,91,70.0,White Blend
129940,US,Watson Vineyard,91,36.0,Chardonnay
129943,Italy,AdÃ¨nzia,90,29.0,Red Blend
129944,Israel,Special Reserve Winemakers' Choice,90,25.0,Shiraz
129945,US,Jurassic Park Vineyard Old Vines,90,20.0,Chenin Blanc
129946,Germany,Dom,90,17.0,Riesling
129947,Italy,Symposio,90,20.0,Red Blend
129948,Argentina,Pedernal,90,43.0,Malbec
129949,US,Barrel Fermented,90,35.0,Chardonnay
129950,US,Blocks 7 & 22,90,35.0,Zinfandel
129951,France,Holder,90,30.0,GewÃ¼rztraminer
129953,New Zealand,Elspeth,90,25.0,Cabernet Merlot
129954,New Zealand,Single Estate,90,15.0,Pinot Gris
129956,New Zealand,Gimblett Gravels Merlot-Cabernet Sauvignon-Malbec,90,19.0,Bordeaux-style Red Blend
129957,Spain,Crianza,90,17.0,Tempranillo Blend
129958,New Zealand,Irongate,90,35.0,Bordeaux-style Red Blend
129959,France,Brand Grand Cru,90,57.0,Pinot Gris
129960,Portugal,VÃ©rtice,90,48.0,Pinot Noir
129962,Italy,SÃ gana Tenuta San Giacomo,90,40.0,Nero d'Avola
129963,Israel,Oak Aged,90,20.0,Cabernet Sauvignon
129965,France,Seppi Landmann VallÃ©e Noble,90,28.0,Pinot Gris
129966,Germany,Brauneberger Juffer-Sonnenuhr SpÃ¤tlese,90,28.0,Riesling
129968,France,Kritt,90,30.0,GewÃ¼rztraminer
129970,France,Lieu-dit Harth CuvÃ©e Caroline,90,21.0,GewÃ¼rztraminer

### Transform country DatFrame

In [9]:
#confirming columns match order of country table in database
country_cols = list(new_country_df)
country_cols

['Country', 'Climate']

In [10]:
#rename the column headers
country_transformed = new_country_df.rename(columns={'Country': 'country','Climate': 'climate'})

#create new index field
country_transformed['id'] = country_transformed.index

#set index
country_transformed.set_index("id", inplace=True)

#drop NaN values
country_transformed = country_transformed.dropna()


country_transformed.head()

            country climate
id
0      Afghanistan        1
1          Albania        3
2          Algeria        1
3   American Samoa        2
4          Andorra        3

### Create database connection

In [11]:
rds_connection_string = "root:England9220!@127.0.0.1/wine_climate_db"
engine = create_engine(f'mysql://{rds_connection_string}', encoding='latin1', echo=True)

In [12]:
engine.table_names()

2019-05-13 19:04:41,454 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-05-13 19:04:41,475 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,491 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-05-13 19:04:41,494 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,510 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-05-13 19:04:41,515 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,520 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-05-13 19:04:41,523 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,529 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-05-13 19:04:41,531 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,536 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-05-13 19:04:41,542 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,547 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-05-13 19:04:41,552 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,564 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `wine_climate_db`
2019-05-13 19:04:41,568 INFO sqlalchemy.engine.base.Engine ()

['country_climates', 'wines']

### Load DataFrames into database

In [13]:
wine_transformed.to_sql(name='wines', con=engine, if_exists='append', index=True)

2019-05-13 19:04:41,710 INFO sqlalchemy.engine.base.Engine DESCRIBE `wines`
2019-05-13 19:04:41,716 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:41,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-13 19:04:42,616 INFO sqlalchemy.engine.base.Engine INSERT INTO wines (id, country, designation, score, price, variety) VALUES (%s, %s, %s, %s, %s, %s)
2019-05-13 19:04:42,617 INFO sqlalchemy.engine.base.Engine ((1, 'Portugal', 'Avidagos', 87, 15.0, 'Portuguese Red'), (3, 'US', 'Reserve Late Harvest', 87, 13.0, 'Riesling'), (4, 'US', "Vintner's Reserve Wild Child Block", 87, 65.0, 'Pinot Noir'), (5, 'Spain', 'Ars In Vitro', 87, 15.0, 'Tempranillo-Merlot'), (6, 'Italy', 'Belsito', 87, 16.0, 'Frappato'), (8, 'Germany', 'Shine', 87, 12.0, 'GewÃ¼rztraminer'), (9, 'France', 'Les Natures', 87, 27.0, 'Pinot Gris'), (10, 'US', 'Mountain CuvÃ©e', 87, 19.0, 'Cabernet Sauvignon')  ... displaying 10 of 86148 total bound parameter sets ...  (129968, 'France', 'Kritt', 90, 30.0, 'GewÃ¼rztraminer'), (129970, 'France', 'Lieu-dit Harth CuvÃ©e Caroline', 90, 21.0, 'GewÃ¼rztraminer'))
2019-05-13 19:04:49,854 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
country_transformed.to_sql(name='country_climates', con=engine, if_exists='append', index=True)

2019-05-13 19:04:49,921 INFO sqlalchemy.engine.base.Engine DESCRIBE `country_climates`
2019-05-13 19:04:49,944 INFO sqlalchemy.engine.base.Engine ()
2019-05-13 19:04:49,959 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-13 19:04:49,963 INFO sqlalchemy.engine.base.Engine INSERT INTO country_climates (id, country, climate) VALUES (%s, %s, %s)
2019-05-13 19:04:49,991 INFO sqlalchemy.engine.base.Engine ((0, 'Afghanistan ', '1'), (1, 'Albania ', '3'), (2, 'Algeria ', '1'), (3, 'American Samoa ', '2'), (4, 'Andorra ', '3'), (6, 'Anguilla ', '2'), (7, 'Antigua & Barbuda ', '2'), (8, 'Argentina ', '3')  ... displaying 10 of 205 total bound parameter sets ...  (225, 'Zambia ', '2'), (226, 'Zimbabwe ', '2'))
2019-05-13 19:04:50,047 INFO sqlalchemy.engine.base.Engine COMMIT